.input {
  margin: 2rem auto;
  width: 50rem;
  padding: 1rem;

  max-width: 90%;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input input:focus {
  outline: none;
  border-color: blueviolet;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid rgb(243, 235, 235);
  padding: 0.2 rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.input.invalid label {
  color: red;
}
